body {
    background-color: #FFFFFF;
}
.bgcolorcontainer {
    background-color: #ffb073;
}
#top {
    background-color: #b5b5b5;
    height: 40px;
    padding: .5em;
}

#logo {
    float: left;
}

#top h1 {
    text-align: center;
    margin: 0;
    padding: 0;
}

#labels {
    text-align: center;
    background-color: #FFFFFF;
}

.dropbtn {
    color: white;
    background-color: #CC5500;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    width: 250px;
    height: 40px;
    border: solid black 1px;
    align-content:center;
}
    
.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ff994a;
    width:250px;
    border: solid black 1px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    font-size:20pt;
    text-align:center;
    padding: 5px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f28d35;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #ba5700;}

#main {
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 10px;
    text-align: center;
    background-color: #FFFFFF;
}

#names {
    font-size: 14px;
}

/* begin group chat page css */
#class1, #class3, #class5, #class7, #class9, #class11, #class13 {
    float: left;
    background-color: #b5b5b5;
    padding: .5em;
    width: 46%;
    height: 100px;
    margin: 10px;
    text-decoration:underline;
}

#class2, #class4, #class6, #class8, #class10, #class12, #class14 {
    float: right;
    background-color: #b5b5b5;
    padding: .5em;
    width: 46%;
    height: 100px;
    margin: 10px;
    text-decoration:underline;
}

#GClist {
    padding:0;
    margin:0;
    font-size:16pt;
    padding-left:20px;
}

#GCform {
    text-align:center;
}

#group_label {
    font-size:15pt;
    text-align:center;
    padding:0;
    margin:0;
}

#addchat {
    float:left;
    background-color: #b5b5b5;
    padding: .5em;
    width: 96%;
    height: 300px;
    margin: 10px;
}
/* begin contact page specific CSS */
.contacttable {
    width: 90%;
    margin: 10px 5%;
}
.contactsurveytable {
    width: 90%;
    margin: 10px 5%;
    background-color: #b5b5b5;
}
.contactinfobox {
    text-align: left;
    background-color: #b5b5b5;
    padding: 10px;
    margin: 50px;
    line-height: 160%;
}
.personname {
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
#surveytitle{
    line-height: 40%;
}
#leftBox
{
	background-color: #b5b5b5;
	float: left; 
	margin:10px;
	padding:15px;
	width:300px; 
	max-width:300px; 
	display: block;
}

#rightBox
{
	background-color: #b5b5b5;
	float: right; 
	margin:10px;
	padding:15px;
	width:300px;
	max-width:300px; 
	display: block;
}

/* Begin Tutoring CSS */
#tutorInfo 
{
    color:red;
    font-size: 14px;
}